<div class="container-fluid container-fluid-custom">
    <div>
        <ul class="quote-list">
            <li class="quote">1. "The palest ink is better than the best memory." - Chinese Proverb</li>
            <li class="quote">2. "The act of writing is the act of discovering what you believe." - David Hare</li>
            <li class="quote">3. "Note-taking is a way to take something chaotic and make it organized." - Shannon Hale</li>
            <li class="quote">4. "Writing is the painting of the voice." - Voltaire</li>
            <li class="quote">5. "The greatest part of a writer's time is spent in reading, in order to write. A man will turn over half a library to make one book." - Samuel Johnson</li>
            <li class="quote">6. "The art of writing is the art of discovering what you believe." - Gustave Flaubert</li>
            <li class="quote">7. "The art of note-taking is the art of selective attention. It is a skill to extract the essential from the non-essential." - Pearl Zhu</li>
            <li class="quote">8. "Writing is thinking on paper." - William Zinsser</li>
        </ul>
    </div>
</div>